mixin places(arr)
    - var mod = attributes && attributes.title==="emph" ? "blue" : "";
    .places__list
        ul.bullet-list
            each val in arr
                li.places__item
                    .bullet-list__item
                        .places__title(class=mod ? `places__title--${mod}` : '')
                            h3.bullet-list__title=val.title
                        .bullet-list__interval=val.interval
                        .places__subtitle=val.subtitle
                        .places__desc=val.copy