- var data = require("./src/data.json");
include mixins/points_mix.pug
include mixins/bar_mix.pug
include components/definitions/definitions.pug
include components/rating-dots/rating-dots.pug
include components/places/places.pug
include components/rating-bars/rating-bars.pug
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(type='text/css', rel='stylesheet', href='./css/styles.css')
        link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
        title=data.surname + ' ' + data.name
    body
        .wrapper
            .wrapper__left-side
                section.intro.wrapper__intro
                    .intro__mugshot
                    .intro__name(contenteditable)=data.name
                    .intro__surname(contenteditable)=data.surname
                    p.intro__profession=data.profession
                section.profile.wrapper__profile
                    h2.section-head.profile__head profile 
                    p.profile__description=data.profileCopy
                         
                section.contact.wrapper__contact
                    h2.section-head.contact__head contact
                    +definitions(data.contacts, "contact")

                section.skills.wrapper__skills
                    h2.section-head.skills__head skills
                    +ratingDots(data.skills, "skills")
                    
            .wrapper__right-side
                section.education.wrapper__education
                    h2.section-head.education__head education
                    - var derived = data.education.map( i => ({title: i.degree, subtitle: i.univer, interval : i.interval, copy: i.copy}));
                    +places(derived, "education" )(title='emph')
                    
                 
                section.experience.wrapper__experience
                    h2.section-head.experience__head experience
                    - var derived = data.experience.map( i => ({title: i.company, subtitle: i.job, interval : i.interval, copy: i.copy}));
                    +places(derived, "experience")
                    

                section.software.wrapper__software
                    h2.section-head.software__head software
                    +ratingBars(data.software, "software")
                    